<div th:fragment="header">
	<!-- navbar basic buttons , changing depending on who is logged in-->

	<div th:if="${session.loggedIn}">
		<div th:if="${session.isAdmin}">
			<div
				th:replace="fragments/header-fragment-admin::header-fragment-admin"></div>
		</div>
		<div th:unless="${session.isAdmin}">
			<div
				th:replace="fragments/header-fragment-user::header-fragment-user"></div>
		</div>
	</div>
	<div th:unless="${session.loggedIn}">
		<div
			th:replace="fragments/header-fragment-guest::header-fragment-guest"></div>
	</div>
	<!--  <div th:replace="fragments/header-fragment-guest::header-fragment-guest"></div>-->
	<!--  <div th:replace="fragments/header-fragment-user::header-fragment-user"></div>-->
	<!-- if user admin	<div th:replace="fragments/header-fragment-admin::header-fragment-admin"></div> -->
</div>