<div th:fragment="header-fragment-guest">
	<ul
		class="nav nav-pills d-flex flex-row mb-4 list-unstyled bg-dark border border-dark-subtle rounded-3"
		style="height: 100px;">
		<li class="p-2 nav-item align-self-center fs-3"><a th:href="@{/}"
			class="nav-link active text-white " aria-current="page">Home</a></li>
		<li class="p-2 nav-item ms-auto align-self-center fs-3"><a th:href="@{/registration}"
			class="nav-link text-white">Registration</a></li>
		<li class="p-2 nav-item ms-auto align-self-center fs-3"><a
			th:href="@{/login}" class="nav-link text-white text-end">Login</a></li>
	</ul>

</div>