<html layout:decorate="fragments/defaultLayout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<body class="d-flex flex-column">

	<div layout:fragment="content" class="d-flex justify-content-center align-items-center flex-grow-1">
		<form th:action="@{/login}" method="post" class="col-md-4">
			<div class="mb-3 fs-4">
				<label for="userName" class="form-label">Felhasználónév*:</label> <input
					type="text" class="form-control " id="userName" name="userName"
					required>
			</div>
			<div class="mb-3 fs-4">
				<label for="password" class="form-label">Jelszó*:</label> <input
					type="password" class="form-control" id="password" name="password"
					required> <small class="form-text text-muted">8-20
					characters, must contain an uppercase letter and a number.</small>
			</div>
			<div th:if="${error}">
				<p class="error-message" th:text="${error}" ></p>
			</div>
			<div class="d-flex justify-content-between align-items-center ">
				<button type="submit"
					class="btn btn-primary btn-lg btn-primary-active-subtle fs-3 fw-bold">Belép</button>
				<a th:href="@{/login/registration}"
					class="btn btn-secondary btn-lg btn-secondary-active-subtle fs-3 fw-bold">Regisztráció</a>
			</div>
		</form>
	</div>
</body>
</html>
