<html layout:decorate="fragments/defaultLayout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body class="d-flex flex-column">
	<div layout:fragment="content"
		class=" align-items-center justify-content-center flex-grow-1">

		<div class="col-sm-12 text-center">
			<p class="display-2 text-white bg-success"
				th:text="'Category: '+${selectedCategory.categoryName}"></p>
			<form th:action="@{/quiz}" method="post" id="quizForm">
				<div th:each="subcategory : ${subcategories}" class="subcategory">
					<label class="m-2"> <input type="checkbox"
						name="selectedSubcategories" th:value="${subcategory.id}" /> <span
						th:text="${subcategory.subcategoryName}"></span>
					</label>
				</div>
				<div class="form-group mt-3">
					<label for="numQuestions">Number of Questions: <input
						type="number" class="form-control" id="numQuestions"
						name="numQuestions" min="1" value="1">
						<p class="fs-6 fst-italic"> *if questions available in choosen<br> categories is less then number,<br> it will generate all the questions<br> from the choosen categories.</p>
						<button type="submit" class="btn btn-primary btn-lg mt-3" name="action" value="generateQuestions">Generate
							Questions</button></label>
				</div>
				<div>
				<button type="submit" class="btn btn-primary btn-lg mt-3"
					name="action" value="getAllQuestions">Get All Questions</button></div>
				<div th:if="${error}" class="alert alert-danger" role="alert">
					<span th:text="${error}"></span>
				</div>
			</form>
		</div>
	</div>




</body>
</html>